{extend name='auth'/}

{block name='content'}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li>
                <a href="{:url('index')}">管理员列表</a>
            </li>
            <li class="layui-this">
                <a href="{:url('store')}">管理员添加</a>
            </li>
        </ul>
        <div class="layui-tab-content">
            <div style="padding: 15px;">
                <form class="layui-form" action="" enctype="multipart/form-data" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="text" name="password" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
                        </div>
                    </div>
                </form>

                <script>
                    //Demo
                    layui.use('form', function(){
                        var form = layui.form;
                    });
                </script>

            </div>
{/block}