{extend name='auth'/}

{block name='content'}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li>
                <a href="{:url('index')}">规则列表</a>
            </li>
            <li class="layui-this">
                <a href="{:url('store')}">规则添加</a>
            </li>
        </ul>
        <div class="layui-tab-content">
            <div style="padding: 15px;">
                <form class="layui-form" action="" enctype="multipart/form-data" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">规则中文名</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">规则标识</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属规则</label>
                        <div class="layui-input-block">
                            <select name="pid" lay-verify="required">
                                <option value="0">--顶级栏目--</option>
                                {foreach name='ruleData' item='v'}
                                <option value="{$v['id']}">--{$v['_title']}--</option>
                                {/foreach}
                            </select>

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">规则导航</label>
                        <div class="layui-input-block">
                            <input type="text" name="nav" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
                        </div>
                    </div>
                </form>

                <script>
                    //Demo
                    layui.use('form', function(){
                        var form = layui.form;
                    });
                </script>

            </div>
{/block}