{extend name='base'/}
{block name='center'}
<div id="content_for_layout" class="yhsd-base"><div class="wrapper">
    <div class="cont">
        <div class="cart-head">
            <h2 class="yhsd-font-title">支付成功</h2>
        </div>
        <div class="cart-cont yhsd-main-border">

            <ul class="cart-cont-list empty" id="cart-cont-list">
                <li class="yhsd-main-border">
                    <div style="font-size: 16px; color: #0a0a0a" class="cart-cont-item yhsd-main-border">恭喜您，支付成功！<br>
                        <a href="/" class="btn btn-primary btn-sm">再去购物</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{/block}