{extend name='./static/admin/header.html'}
{block name='left'}
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="{:url('admin/category/index')}">商品分类</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="{:url('admin/brand/index')}">商品品牌</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">商品管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('admin/goods/index')}">在售商品</a></dd>
                    <dd><a href="{:url('admin/goods/unonsale')}">下架商品</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{/block}